<p id="notice"><%= notice %></p>

<h1>Listing Consumers</h1>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th >Name</th>
      <th >Api Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consumers.each do |consumer| %>
      <tr>
        <td><%= consumer.name %></td>
        <td><%= consumer.token %></td>
        <td><%= link_to 'Show', project_consumer_path(@project, consumer) %></td>
        <td><%= link_to 'Edit', edit_project_consumer_path(@project, consumer) %></td>
        <td><%= link_to 'Destroy', project_consumer_path(@project, consumer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consumer', new_project_consumer_path(@project) %>
