<% content_for(:title) do %>
  Listing Projects

  <%= link_to 'New Project', new_project_path, class: "btn btn-success pull-right" %>
<% end %>

<div class="row">
  <% @projects.each do |project| %>
    <div class="panel panel-default col-md-3 nopadding">
      <div class="panel-heading"><%= project.name %></div>

      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus mi, dictum non ornare eget, tincidunt quis sem. Integer rutrum odio in placerat imperdiet. Maecenas porta sem augue, id ultricies purus ultrices laoreet. Aenean mattis sollicitudin eros, sit amet finibus elit rutrum vel.
      </div>
      <div class="panel-footer">
        <%= link_to 'Show', project, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_project_path(project), class: "btn btn-default" %>
        <%= link_to 'Destroy', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

